html, body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    margin: 1em;
    background-color: grey;
    font-size: 100%;
    height:100%;
    text-align: center;
}

h2 {
    border-bottom: solid black;
    border-width: 2px;
}

.login {
    text-align: center;
    
}

div#calendar {
    
    height:100%;
    
}



.calendar{
    
    border:solid black;
    border-width:4px;
    border-radius: 5px;
   
    background-color:white;
    
    width:80%;
    
    height:75%;
    padding:4px;
    border-spacing:4px;
    margin: 0 auto;
}

table {
    table-layout: fixed;
}

.dayNames {
    height:5%;
    width:10%;
}

.calendar td {
    
    
    border:solid black;
    border-width:2px;
    border-radius: 4px;
    vertical-align: top;
    text-align: right;
    
    width:10%;
    height:15%;
    
}

#edit-event-dialog-form {
    text-align: left;
}

.hover {
    
 background-color:gold;
}

.calEvent {
    border:2px solid;
    border-radius:5px;
    text-align: center;
}